<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Articulos</title>
</head>

<body style="width: 70vw;height: 85vh;">
    <div class="conteiner justify-content-center ">
        <form [formGroup]="form">
            <div class="conteiner reguistro ">
                <div class="row">
                    <div class="row">
                        <div class="col colTextReg">
                            <h1>
                                <p style="text-align: center;">Artículos </p>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="conteiner">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h4 class="is-required">Nombre del articulo</h4>
                                <input formControlName="nombre" type="text" id="inRegisNombre" class="lbRegistro"
                                    placeholder="Nombre del articulo">
                                <div *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched || activate">
                                    <div class="error" *ngIf="form.get('nombre')?.hasError('required')">
                                        El nombre es requerido
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h4 class="is-required">Descripción</h4>
                                <textarea formControlName="descripción" id="descripción" class="lbRegistro"
                                    placeholder="Un brebe escripción" name="" id="" cols="40" rows="2"></textarea>
                                <div
                                    *ngIf="form.get('descripción')?.invalid && form.get('descripción')?.touched || activate">
                                    <div class="error" *ngIf="form.get('descripción')?.hasError('required')">
                                        La descripción es requerido
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h4 class="is-required">Total de articulos</h4>
                                <input formControlName="totalArt" type="number" id="totalArt" placeholder="Cuntos articulos son..."
                                    class="lbRegistro">
                                <div *ngIf="form.get('totalArt')?.invalid && form.get('totalArt')?.touched || activate">
                                    <div class="error" *ngIf="form.get('totalArt')?.hasError('required')">
                                        El campo total de articulos es requerido
                                    </div>
                                    <div class="error" *ngIf="form.get('totalArt')?.hasError('min')">
                                        Este campo debe de ser mayor a 1
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h4 class="is-required">Total en stock</h4>
                                <input formControlName="totalSt" type="number" id="totalSt" placeholder="Cuntos articulos son..."
                                    class="lbRegistro">
                                <div *ngIf="form.get('totalSt')?.invalid && form.get('totalSt')?.touched || activate">
                                    <div class="error" *ngIf="form.get('totalSt')?.hasError('required')">
                                        El campo total en stock es requerido
                                    </div>
                                    <div class="error" *ngIf="form.get('totalSt')?.hasError('min')">
                                        Este campo debe de ser mayor a 1
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h4 class="is-required">Total en servicio</h4>
                                <input formControlName="totalSer" type="number" id="totalSer" placeholder="Cuntos articulos son..."
                                    class="lbRegistro">
                                <div *ngIf="form.get('totalSer')?.invalid && form.get('totalSer')?.touched || activate">
                                    <div class="error" *ngIf="form.get('totalSer')?.hasError('required')">
                                        El campo total en servicio es requerido
                                    </div>
                                    <div class="error" *ngIf="form.get('totalSer')?.hasError('min')">
                                        Este campo debe de ser mayor a 1
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h4 class="is-required">Precio de articulo</h4>
                                <input formControlName="preciArt" type="number" id="preciArt" placeholder="Precio del articulo"
                                    class="lbRegistro">
                                <div *ngIf="form.get('preciArt')?.invalid && form.get('preciArt')?.touched || activate">
                                    <div class="error" *ngIf="form.get('preciArt')?.hasError('required')">
                                        El campo precio de articulo es requerido
                                    </div>
                                    <div class="error" *ngIf="form.get('preciArt')?.hasError('min')">
                                        Este campo debe de ser mayor a 1
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h4 class="is-required">Tipo de articulo</h4>
                                <select formControlName="select" (change)="gf($event)"
                                    style="height: 30px; width: 190px;" class="form lbRegistro">
                                    <option selected>Selecciona un typo</option>
                                    <option>Silla</option>
                                    <option>Mesa</option>
                                    <option>Inflable</option>
                                    <option>Decorativo</option>
                                </select>
                                <div *ngIf="form.get('select')?.invalid && form.get('select')?.touched || activate">
                                    <div class="error" *ngIf="form.get('select')?.hasError('required')">
                                        El apellidoses requerido
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row" >
                            <div class="col">
                                <h4 class="is-required">Total de sillas por mesa</h4>
                                <input formControlName="totalSill" type="number"  placeholder="Cuntos articulos son..."
                                    class="lbRegistro">
                                <div
                                    *ngIf="form.get('totalSill')?.invalid && form.get('totalSill')?.touched || activate">
                                    <div class="error" *ngIf="form.get('totalSill')?.hasError('required')">
                                        El campo precio de articulo es requerido
                                    </div>
                                    <div class="error" *ngIf="form.get('totalSill')?.hasError('min')">
                                        Este campo debe de ser mayor a 1
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            <img [src]="imag" width="100%" height="100%">
                        </div>
                        <input type="file" formControlName="inputImg" accept=".png,.jpg"
                            (change)="onFileSelected($event)">
                        <div *ngIf="form.get('inputImg')?.invalid && form.get('inputImg')?.touched || activate">
                            <div class="error" *ngIf="form.get('inputImg')?.hasError('required')">
                                Agrega una imagen para agregar el articulo
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  justify-content-end colBtnRegistrarce" style="transform: translateY(50%);">
                <div class="col-md-8">
                    <button id="btnRegistLimpiar" class="btnRegistro btnAnimatio">Limpiar</button>
                    <button mat-dialog-close id="btnRegistCancelar" class="btnRegistro btnAnimatio"(click)="onYesClick()">Cancelar</button>
                    <button id="btnRegistRegistrarce" class="btnRegistro btnAnimatio" (click)="guardar()">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>