.colTextReg {
  text-align: center;
  box-shadow: 10px 10px 20px #888888;
  border-radius: 10px;
}
.is-required:after {
  content: '*';
  margin-left: 3px;
  color: red;
  font-weight: bold;
}
.lbRegistro {
  border-radius: 5px;
  border: 2px solid #374342;
  outline: none;
  height: 30px;
  width: 300px;
  text-indent: 10px;

}
.error{
  color: red;
}
.password-icon {
  float: right;
  width: 30px;
  position: relative;
  margin: -23px 16px 0 0;
  cursor: pointer;
}
.btnRegistro{
    height: 30px;
    outline: none;
    border: 0px;
    width: 150px;
    
    box-shadow: 0px 0px 20px #888888;
}
#btnRegistRegistrarce{
    background-color: #374342;
    color: white;
}
#btnRegistLimpiar{
    background-color: black;
    color: white;
}
.colBtnRegistrarce{
  margin-top: 30px;
}

.reguistro
{
  box-shadow: 10px 10px 20px #888888;
border-radius: 10px;
margin-bottom: 30px;
}
