.colTextReg {
  text-align: center;
  box-shadow: 10px 10px 20px #888888;
  border-radius: 10px;
}
.lbRegistro {
  border-radius: 44pt;
  border: 2px solid #73264d;
  outline: none;
  height: 30px;
  width: 300px;
  text-indent: 10px;

}
.btnRegistro{
    height: 30px;
    outline: none;
    border: 0px;
    width: 150px;
    box-shadow: 0px 0px 20px #888888;
}
#btnRegistRegistrarce{
    background-color: #73264d;
    color: white;
}
#btnRegistLimpiar{
    background-color: black;
    color: white;
}
.colBtnRegistrarce{
  margin-top: 30px;
}
.reguistro
{
  box-shadow: 10px 10px 20px #888888;
border-radius: 10px;
margin-bottom: 30px;
}
