<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: white">
    <div class="conteiner">
        <form [formGroup]="form">
            <div class="row justify-content-center ">
                <div class="row" style="margin-top: 30px;">
                    <div class="col-11">
                        <h2 style="color: black; text-align: center; box-shadow: 10px 10px 20px #888888;">
                            Formulario de reguistro
                        </h2>
                        <h3 style="color: black;">Datos de personales</h3>
                        <div class="row">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col">

                                        <input formControlName="nombre" type="text" id="inRegisNombre"
                                            [ngClass]="{'lbRegistro': requerido('nombre'), 'errorR': !requerido('nombre')}"
                                            placeholder="Nombre">
                                    </div>
                                    <div class="col">

                                        <input formControlName="apellidos" type="text" id="inRegistApellidos"
                                            [ngClass]="{'lbRegistro': requerido('apellidos'), 'errorR': !requerido('apellidos')}"
                                            placeholder="Apellidos">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <H3 style="color: black;">Datos de domicilio</H3>
                        <div class="row">
                            <div class="col">

                                <input type="text" formControlName="municipio" id="inRegistMunicipio"
                                    [ngClass]="{'lbRegistro': requerido('municipio'), 'errorR': !requerido('municipio')}"
                                    placeholder="Municipio">
                            </div>
                            <div class="col">
                                <input type="text" formControlName="comunidad" id="inRegistComunidad"
                                    [ngClass]="{'lbRegistro': requerido('comunidad'), 'errorR': !requerido('comunidad')}"
                                    placeholder="Comunidad">
                            </div>
                            <div class="col">
                                <input type="text" formControlName="calle" id="inRegistCalle"
                                    [ngClass]="{'lbRegistro': requerido('calle'), 'errorR': !requerido('calle')}"
                                    placeholder="Calle">
                            </div>
                            <div class="col">
                                <input type="text" formControlName="num" id="inRegistNum"
                                    [ngClass]="{'lbRegistro': requerido('num'), 'errorR': !requerido('num')}"
                                    placeholder="Num">
                            </div>
                        </div>
                        <H3 style="color: black;">Datos de contacto</H3>
                        <div class="row">
                            <div class="col">

                                <input type="tel" maxlength="10" formControlName="telefono" id="inRegistTelefono"
                                    [ngClass]="{'lbRegistro': requerido('telefono'), 'errorR': !requerido('telefono')}"
                                    placeholder="Telefono">
                                <div *ngIf="form.get('telefono')?.errors && form.get('telefono')?.touched || activate">
                                    <div *ngIf="form.get('telefono')?.hasError('required')">
                                        El teléfono es requerido.
                                    </div>
                                    <div *ngIf="form.get('telefono')?.hasError('invalidPhoneNumber')">
                                        El teléfono debe tener 10 dígitos.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <H3 style="color: black;">Datos de usuario</H3>
                        <div class="row">
                            <div class="col">

                                <input type="email" formControlName="email" id="inRegistE-mail"
                                    [ngClass]="{'lbRegistro': requerido('email'), 'errorR': !requerido('email')}"
                                    placeholder="E-mail">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col">
                                        <input type="{{ showPassword ? 'text' : 'password' }}"
                                            formControlName="contraseña" id="inRegistContraseña"
                                            [ngClass]="{'lbRegistro': requerido('contraseña'), 'errorR': !requerido('contraseña')}"
                                            placeholder="Contraseña">
                                        <div
                                            *ngIf="form.get('contraseña')?.invalid && form.get('contraseña')?.touched || activate">
                                            <div *ngIf="form.get('contraseña')?.hasError('invalidPassword') ">
                                                La contraseña debe tener al menos 8 caracteres, una letra mayúscula, una
                                                letra minúscula y un carácter especial.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">

                                        <input type="{{ showPassword ? 'text' : 'password' }}"
                                            formControlName="validarContraseña" id="inRegistVerContraseña"
                                            [ngClass]="{'lbRegistro': requerido('validarContraseña'), 'errorR': !requerido('validarContraseña')}"
                                            placeholder="Verifica tu contraseña">
                                        <div
                                            *ngIf="form.get('validarContraseña')?.invalid && form.get('validarContraseña')?.touched || activate">
                                            <div *ngIf="form?.hasError('notSame')">
                                                Las contraseñas no coinciden
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input (change)="viciblePassword()" type="checkbox">Mostrar Contraseña
                            </div>

                        </div>
                    </div>
                </div>

                <div class="roe">
                    <div class="col colBtnRegistrarce" style="color: black;">
                        <input formControlName="aceptaTerminos" type="checkbox" id="password-toggle"> Aseptar terminos y
                        condiciones
                        <div 
                            *ngIf="form.get('aceptaTerminos')?.invalid && form.get('aceptaTerminos')?.touched || activate">
                            <div *ngIf="form.get('aceptaTerminos')?.hasError('required')">
                                Por favor, acepte los términos y condiciones.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  justify-content-end colBtnRegistrarce" style="transform: translateY(50%);">
                    <div class="col-md-6">
                        <button id="btnRegistLimpiar" class="btnRegistro btnAnimatio"
                            (click)="limpiar()">Limpiar</button>
                        <button id="btnRegistCancelar" class="btnRegistro btnAnimatio">Cancelar</button>
                        <button id="btnRegistRegistrarce" class="btnRegistro btnAnimatio"
                            (click)="agregarDatos()">Registrarce</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>