<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container rtp textoMolde">
        <div class="row justify-content-center ">
            <div class="Login">
                <div id="txtIS">
                    Recuperar contraseña
                </div>
                <form [formGroup]="form">
                    <div class="row conRecuperar">
                        <div class="col" style="margin-top: 30px;">
                            <label class="form-label lbRecuperar">Email</label>
                            <input formControlName="email" id="inRegistE-mail" class="inRecuperar" type="email">
                            <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched || activate">
                                <div class="error" *ngIf="form.get('email')?.hasError('required')">
                                    El email requerido
                                </div>
                                <div class="error" *ngIf="form.get('email')?.hasError('pattern')">
                                    Por favor, ingrese un correo electrónico válido
                                </div>
                            </div>
                            <div class="col btnEmail " style="">
                                <button class="btnAnimatio" (click)="cancelar()" id="btnRecuperarCancelar">
                                    Cancelar
                                </button>
                                <button (click)=" enviar()" class="btnAnimatio" id="btnRecuperar">
                                    Enviar Codigo
                                </button>
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div id="fRecuperar">
                      Este sitio tiene el objetivo de bridarte un servicio con el
                      mas alto nivel de seguridad por lo que es necesario logearte,
                      para obtener mayores beneficios, Gracias :)
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>