<div class="container rtp textoMolde">
    <div class="row justify-content-center ">
        <div class="Login">
            <div id="txtIS">
                Codigo de verificacion
            </div>
            <div class="row conRecuperar">
                <div class="col" style="margin-top: 30px;">
                    <div style="margin-left: 40px;">
                        <label style="font-size: 50px;">DO-</label>
                        <input class="inRecuperarC" type="text" [(ngModel)]="email">
                    </div>
                    <div class="col " style="align-items: center;margin-top: 30px;">
                        <button (click)="cancelarC()" id="btnRecuperarCancelar">
                            Cancelar
                        </button>
                        <button (click)="recuperarC()" id="btnRecuperar">
                            Recuperarla
                        </button>
                    </div>
                </div>
                <div>
                </div>
            </div>
            <div class="row">
                <div id="fRecuperar">
                    Este servisio tiene el objetibo de bridarte u servisio con el
                    mas alto nivel de seguridad por lo que es nesesario logiarte,
                    al igual que tienes mejores benefisios,. Grasias
                </div>
            </div>
        </div>
    </div>
</div>
