
<div class="nBar">
    <div class="row  justify-content-center" >

      <mat-toolbar style="background-color: rgba(55, 67, 66,.8) ;">
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button> -->
        <span><img class="imag" src="assets/img/Logo blanco (3).png"></span>
        <span class="example-spacer"></span>
        <span class="example-spacer"></span>
        <button (click)="opcionesAdminds('/admin/Administrativo')" mat-icon-button id="btn"
          class="btnAnimatio  TextoN d-flex align-items-center">
          <mat-icon><span class="material-symbols-outlined">
            home_work
            </span></mat-icon>
          Administración
        </button>
        <button (click)="opcionesAdminds('/admin/nuevosProductos')" mat-icon-button id="btn"
          class="btnAnimatio  TextoN d-flex align-items-center">
          <mat-icon><span class="material-symbols-outlined">
            conveyor_belt
            </span></mat-icon>
          Articulos
        </button>
        <button (click)="opcionesAdminds('/admin/pedidos')" mat-icon-button id="btn"
          class="btnAnimatio  TextoN d-flex align-items-center">
          <mat-icon><span  class="material-symbols-outlined">
            grading
          </span></mat-icon>
          Pedidos
        </button>
        <button  (click)="opcionesAdminds('/admin/usuarios')" mat-icon-button id="btn"
          class="btnAnimatio  TextoN d-flex align-items-center">
          <mat-icon><span class="material-symbols-outlined">
            group
            </span></mat-icon>
          Usuarios
        </button>


        <mat-icon mat-icon-button [matMenuTriggerFor]="menu" aria-hidden="false" style="height: 40px;width: 40px;"><span
            class="material-symbols-sharp d-flex align-items-center  " style="color: white; font-size: 30px;">
            account_circle
          </span></mat-icon>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="salir()" >
            <mat-icon>logout</mat-icon>
            <span>salir</span>
          </button>
        </mat-menu>
      </mat-toolbar>
    </div>
</div>