<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class=" Pago textoMolde">
        <mat-dialog-content class="mat-typography conPago">
            <h1 mat-dialog-title>
                <div id="txtIS">
                    Formulario de Order
                </div>
            </h1>
            <div mat-dialog-content>
                <form [formGroup]="FormPaso1">
                    <div class="row">
                        <div class="col">
                            <div>
                                <input formControlName="nombreCompleto"
                                    [ngClass]="{'inLogin': color('nombreCompleto'), 'error': !color('nombreCompleto')}"
                                    type="text" placeholder="Nombre completo">
                            </div>
                            <div class="mb-3">
                                <label class="form-label lbLogin">Codigo postal</label>
                                <input formControlName="codigoPostal" maxlength="5" type="text"
                                    [ngClass]="{'inLogin': color('codigoPostal'), 'error': !color('codigoPostal')}"
                                    placeholder="Código Postal 5 dígitos" />
                                <br />
                                <button class="btnCodigo  btnAnimatio " (click)="getCodigoPostal()" type="button">
                                    <div [hidden]="loandingCP1" class="spinner-border spinner-border-sm "
                                        style="color: white;" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div [hidden]="loandingCP2" style="color: white;">
                                        usar
                                    </div>

                                </button>
                            </div>
                            <label class="form-label lbLogin">Verifica Tu direccion</label>
                            <div>
                                <input formControlName="minicipio"
                                    [ngClass]="{'inLogin': color('minicipio'), 'error': !color('minicipio')}"
                                    type="email" placeholder="Municipio">
                            </div>
                            <div>
                                <select formControlName="select" class="form" [ngClass]="{'inLogin': color('select'), 'error': !color('select')}">

                                    <option selected>Selecciona tu comunidad</option>
                                    <option *ngFor="let com of data">{{com.nombre}}</option>
                                </select>
                            </div>
                            <div>
                                <input formControlName="calle"
                                    [ngClass]="{'inLogin': color('calle'), 'error': !color('calle')}"
                                    type="text" placeholder="Calle">
                            </div>
                            <div>
                                <input formControlName="numHogar"
                                    [ngClass]="{'inLogin': color('numHogar'), 'error': !color('numHogar')}"
                                    type="text" placeholder="Num exterior">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div id="fLogin">
                        Para poderte brindar el servicio tiene que llenar cada uno de los campos
                        los cuales se estaran ocupando para poder realisarte tu entrega. Gracias
                    </div>
                </div>
            </div>
        </mat-dialog-content>
        <div class="row">
            <div class="col">
                <hr style="color: #085851;height: 5px;">
            </div>
            <div class="col">
                <hr>
            </div>
            <div class="col">
                <hr>
            </div>
        </div>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close id="btnRegistLimpiar btnAnimatio" (click)="cancelar()"
                class="btnRegistro">Cancelar</button>
            <button id="btnRegistRegistrarce" class="btnRegistro btnAnimatio" (click)="siguiente()">Siguiente</button>
        </mat-dialog-actions>
    </div>
</body>

</html>