
<nav>
  <div>
  <ul>
    <li id="prin" class="position-relative mx-xl-6 mb-6 d-flex align-items-center justify-content-center" style="color:white;;">  <a href="#home" >Inicio</a></li>
  </ul></div>
  <ul>
    <li id="sec" class="position-relative mx-xl-4 mb-5 " style="color:white;"><a href="#home">Home</a></li>
    <li id="sec" class="position-relative mx-xl-4 mb-5" style="color:white;"><a href="#home">categoria</a></li>
    <li id="sec" class="position-relative mx-xl-4 mb-5" style="color:white;"><a href="#home">Mis pedidos</a></li>
    <li id="sec" class="position-relative mx-xl-4 mb-5" style="color:white;"><a href="#home">Opciones</a></li>
  </ul>
  <ul style="margin-left: 200px;" >
    <li id="ter" class="position-relative mx-xl-5 mb-5 d-flex align-items-center justify-content-center" style="color:white; "><a href="#home">Sillas</a></li>
  </ul>
  <ul  style="margin-left: 200px;">
    <li id="ter" class="position-relative mx-xl-5 mb-5 d-flex align-items-center justify-content-center" style="color:white;"><a href="#home">Adornos</a></li>
  </ul>
  <ul style="margin-left: 200px;">
    <li  id="ter" class="position-relative mx-xl-5 mb-5 d-flex align-items-center justify-content-center" style="color:white;"><a href="#home">Inflables</a></li>
  </ul>
  <ul style="margin-left: 200px;">
    <li id="ter" class="position-relative mx-xl-5 mb-5 d-flex align-items-center justify-content-center" style="color:white;"><a href="#home">Mesas</a></li>
  </ul>
</nav>