  <nav>
    <div>
    <ul>
      <li id="prin" class="position-relative mx-xl-6 mb-6" style="color:white;"><a href="#home">Principal</a></li>
    </ul></div>
    <ul>
      <li id="sec" class="position-relative mx-xl-4 mb-5" style="color:white;"><a href="#home">Detalles</a></li>
    </ul>
    <ul>
      <li id="ter" class="position-relative mx-xl-5 mb-5" style="color:white;"><a href="#home">Sillas</a></li>
    </ul>
    <ul>
      <li id="ter" class="position-relative mx-xl-5 mb-5" style="color:white;"><a href="#home">Adornos</a></li>
    </ul>
    <ul>
      <li  id="ter" class="position-relative mx-xl-5 mb-5" style="color:white;"><a href="#home">Inflables</a></li>
    </ul>
    <ul>
      <li id="ter" class="position-relative mx-xl-5 mb-5" style="color:white;"><a href="#home">Mesas</a></li>
    </ul>
  </nav>


