<body>
  <nav>
    <ul>
      <li class="section-title position-relative mx-xl-5 mb-4" style="color:white;"><a href="#home">Home</a></li>
      <li class="section-title position-relative mx-xl-5 mb-4" style="color:white;"><a href="#sillas">Sillas</a></li>
      <li class="section-title position-relative mx-xl-5 mb-4" style="color:white;"><a href="#adornos">Adornos</a></li>
      <li class="section-title position-relative mx-xl-5 mb-4" style="color:white;"><a href="#inflables">Inflables</a>
      </li>
      <li class="section-title position-relative mx-xl-5 mb-4" style="color:white;"><a href="#mesas">Mesas</a></li>
      <li class="section-title position-relative mx-xl-5 mb-4" style="color:white;"><a href="#mapaSitio">Mapa del
          sitio</a></li>
      <li class="section-title position-relative mx-xl-5 mb-4" style="color:white;"><a href="#error">Mas</a></li>
    </ul>
    <ul>
      <li  class="position-relative mx-xl-5 mb-4" style="color:white;"><a>↓</a></li>
      <li class="position-relative mx-xl-5 mb-4" style="color:white;"><a>↓</a></li>
      <li class="position-relative mx-xl-5 mb-4" style="color:white;"><a>↓</a></li>
      <li class="position-relative mx-xl-5 mb-4" style="color:white;"><a>↓</a></li>
      <li class="position-relative mx-xl-5 mb-4" style="color:white;"><a>↓</a></li>
      <li class="position-relative mx-xl-5 mb-4" style="color:white;"><a>↓</a></li>
      <li class="position-relative mx-xl-5 mb-4" style="color:white;"><a>↓</a></li>
    </ul>
    <ul>
      <li class="position-relative mx-xl-4 mb-4" style="color:white;"><a href="#home">Productos</a></li>
      <li class="position-relative mx-xl-4 mb-4" style="color:white;"><a href="#sillas">Catalogo de sillas</a></li>
      <li class="position-relative mx-xl-4 mb-4" style="color:white;"><a href="#adornos">Catalogo de adornos</a></li>
      <li class="position-relative mx-xl-4 mb-4" style="color:white;"><a href="#inflables">Catalogo de inflables</a>
      </li>
      <li class="position-relative mx-xl-4 mb-4" style="color:white;"><a href="#mesas">Catalogo de mesas</a></li>
      <li class="position-relative mx-xl-4 mb-4" style="color:white;"><a href="#mapaSitio">Descripción</a></li>
      <li class="position-relative mx-xl-4 mb-4" style="color:white;"><a href="#error">Detalles</a></li>
    </ul>
  </nav>
</body>

