<div class="nBar">
    <div class="container">
        <div class="row  justify-content-center" style="margin-top: 20px;">

            <mat-toolbar style="background-color: rgb(255, 123, 0)">
                <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button> -->
                <span (click)="mostrarMenu('home')"><img class="imag" src="assets/img/Logo blanco (3).png" ></span>
                <span class="example-spacer"></span>
                    <button mat-icon-button id="btnInicio" class="btnAnimatio" (click)="btnIniciarSesion()">Iniciar sesión</button>
                    <button mat-icon-button id="btnRegis" class="btnAnimatio" (click)="btnRegistrarce()">Regístrate</button>
                
            </mat-toolbar>
        </div>
    </div>
</div>
