
#btnInicio{
  width: 150px; 
  border-color: white;
  font-weight: bold;
  box-shadow: 0px 0px 20px #888888;
}
#btnRegis{
  width: 150px;
  color: #73264D;
  background-color: #0ec3e0;
  border: #0ec3e0;
  font-weight: bold;
}

.example-spacer {
  flex: 1 1 auto;
}
