
#btnInicio{
  width: 150px; 
  border-color: white;
  font-weight: bold;
  box-shadow: 0px 0px 20px #888888;
  transition: transform 0.3s ease-out;
}
#btnRegis{
  width: 150px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-weight: bold;
  transition: transform 0.3s ease-out;
}

.example-spacer {
  flex: 1 1 auto;
}
