<div class="nBar">
    <div class="container">
        <div class="row  justify-content-center">

            <mat-toolbar style="background-color: #0ec3e0;">
                <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button> -->
                <span (click)="mostrarMenu('home')"><img class="imag" src="assets/img/Logo blanco (3).png" ></span>
                <span class="example-spacer"></span>
                    <button mat-icon-button id="btnInicio" (click)="btnIniciarSesion()">Iniciar Sesión</button>
                    <button mat-icon-button id="btnRegis" (click)="btnRegistrarce()">Registrarce</button>
                
            </mat-toolbar>
        </div>
    </div>
</div>
