<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container rtp textoMolde">
    <div class="row justify-content-center ">
      <div class="Login">
        <div id="txtIS">
          Iniciar Sesión
        </div>
        <div class="row conLogin">
          <div class="col" style="margin-top: 50px;">
            <div>
              <label class="form-label lbLogin">Email</label>
              <input class="inLogin" type="email" (input)="obtenerEmail($event)">
            </div>
            <div style="margin-top: 10px;">
              <label class="form-label lbLogin">Contraseña</label>
              <input class="inLogin" (input)="obtenerPass($event)" type="password">
            </div>
            <div style="margin-top: 10px;">
              <p style="color: #0ec3e0;cursor:pointer; text-shadow: 1px 1px #3c3b3b;" (click)="recuperar()"> Olvide mi
                contraseña</p>
              <p style="color: #0ec3e0;cursor:pointer; text-shadow: 1px 1px #3c3b3b;" (click)="btnQUC()"> Quiero una
                cuenta</p>
            </div>
            <div class="col-10 " style="align-items: center; margin-left: 30px;">
              <button (click)="log_in()" id="btnLogin" class="btnAnimatio">
                Iniciar sesión
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div id="fLogin">
            Este sitio tiene el objetivo de bridarte un servicio con el
            mas alto nivel de seguridad por lo que es necesario logearte,
            para obtener mayores beneficios, Gracias :)
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
