<div class="container rtp textoMolde">
  <div class="row justify-content-center ">
    <div class="Login">
      <div id="txtIS">
        Iniciar Sesión
      </div>
      <div class="row conLogin">
        <div class="col" style="margin-top: 50px;">
          <div>
            <label class="form-label lbLogin">Email</label>
            <input class="inLogin" type="email" [(ngModel)]="email">
          </div>
          <div style="margin-top: 10px;">
            <label class="form-label lbLogin">Contraseña</label>
            <input class="inLogin" [(ngModel)]="password" type="password">
          </div>
          <div style="margin-top: 10px;">
            <p style="color: #0ec3e0;cursor:pointer; text-shadow: 1px 1px #3c3b3b;"> Olvide mi contraseña</p>
            <p style="color: #0ec3e0;cursor:pointer; text-shadow: 1px 1px #3c3b3b;" (click)="btnQUC()"> Quiero una cuenta</p>
          </div>
          <div class="col-10 " style="align-items: center; margin-left: 30px;">
            <button (click)="log_in()" id="btnLogin">
              iniciar Sesion
            </button>
          </div>
        </div>
      </div>
      <div class="row">
      <div id="fLogin">
        Este servisio tiene el objetibo de bridarte u servisio con el
        mas alto nivel de seguridad por lo que es nesesario logiarte,
        al igual que tienes mejores benefisios,. Grasias
      </div>
    </div>
    </div>
  </div>
</div>
