.Login {  
  height: 590px;
  width: 350px;
}

#txtIS {
  margin-top: 40px;
  font-family: Myriad Pro;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px #3c3b3b;
}
.conLogin{
  background-color: white; 
  margin-top: 50px;
  
}
.inLogin {
  border-radius: 5px;
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  border-bottom: 2px solid #3c3b3b;
  text-indent: 16px;
  box-shadow: 10px 10px 20px #888888;
}
.lbLogin{
    font-size: 15pt;
    color: black;
    text-shadow: 1px 1px #3c3b3b;
}
#btnLogin{
  border-radius: 44pt;
  border: 0;
  height: 40px;
  width: 100%;
  background-color: #374342;
  color: white;
  margin-bottom: 50px;
  box-shadow: 10px 10px 20px #888888;
  text-shadow: 1px 1px #3c3b3b;
  transition: transform 0.3s ease-out;
}

#fLogin{
  font-size: 12px;
  text-align: justify;
  color: black;
  font-weight: bold;
  height: 100px;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
}

@media (max-width: 400px) {
  .Login {  
  height: 590px;
  width: 350px;
}
}
