.Logo {
    text-align: center;
    font-size: 20px;
    
  }
  .rowApartados{
    margin-left: 30%;
    margin-right: 300px
    
  }
  .hola1 {
    color:#DDDDDD;   
    font-size: 18px;
    
  }
  
  .TextoN {
    font-family:'Trebuchet MS';
    color:rgb(0, 0, 0);
    font-size: 18px;
    text-decoration: none;
  }
  .Texto {
    font-family:'Trebuchet MS';
    color:rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
  }
  
  .jl {
    position: absolute;
    margin: left 200px;
  }
  
  @media (max-width: 500px) {
    .h-custom {
      height: 100vh !important;
    }
    .rowApartados{
      margin-left: 1%;
    }
    .cart{
      width: 10%;
      height: 100%;
    }
  }
  
  .dropdown-arrow{
    font-size: 9px;
    text-decoration: none;
  }
  .liCategoria:hover {
    box-shadow: 10px 10px 20px #888888;
  }
  
 