<div class="nBar ">
  <div class="container">
    <div class="row  justify-content-center">
      <mat-toolbar style="background-color: #0ec3e0;">
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button> -->
        <span (click)="mostrarMenu('home')"><img class="imag" src="assets/img/Logo blanco (3).png"></span>
        <span class="example-spacer">
          <div class="container">
            <div class="input-group mb-3">
              <input type="text" class="inpSearch" placeholder="Search" aria-label="Username">
              <span class="input-group-text"><i class="pi pi-search"></i></span>
              <mat-icon (click)="mostrarCarrito()" [matBadge]="total" aria-hidden="false"
                style="margin-left: 5%; margin-top: 5px;"><span style="font-size: 35px;"
                  class="material-symbols-outlined">
                  local_shipping
                </span></mat-icon>
            </div>
          </div>
        </span>
      </mat-toolbar>
      <mat-toolbar style="background-color: #0ec3e0; height: 18px;">
        <span></span>
        <span class="example-spacer rowApartados">
          <div class="row">
            <div class="col">
              <div class="row" style="width: 400px;">
                <div class="col-2" > <a class=" TextoN" (click)="mostrarMenu('home')"> Home</a></div>
                <div class="col-3">
                  <a class="dButton TextoN" data-bs-toggle="dropdown">
                    Categorias<span class="dropdown-arrow">&#9660;</span>
                  </a>
                  <ul class=" dropdown-menu ">
                    <li class="liCategoria" (click)="mostrarMenu('sillas')"><a class="TextoN"> Sillas</a></li>
                    <li class="liCategoria" (click)="mostrarMenu('adornos')"><a class="TextoN">Adornos</a></li>
                    <li class="liCategoria" (click)="mostrarMenu('inflables')"><a class="TextoN">Infables</a></li>
                    <li class="liCategoria" (click)="mostrarMenu('mesas')"><a class="TextoN"> Mesas</a></li>
                  </ul>
                </div>
                <div class="col-3"> <a class="TextoN" (click)="mostrarMenu('home')"> Mis Ordenes</a></div>
                <div class="col-2">
                  <a class="dButton TextoN" data-bs-toggle="dropdown">
                    Cuenta<span class="dropdown-arrow">&#9660;</span>
                  </a>
                  <ul class=" dropdown-menu ">
                    <li class="liCategoria" (click)="salir()"><a class="TextoN"> Salir</a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>

        </span>
      </mat-toolbar>
    </div>
  </div>
</div>
