<div class="nBar">
  <div class="container">
    <div class="row  justify-content-center">

      <mat-toolbar style="background-color: #0ec3e0;">
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button> -->
        <span (click)="mostrarMenu('home')"><img class="imag" src="assets/img/Logo blanco (3).png"></span>
        <span class="example-spacer"> <input type="text"></span>

        <a class="nav-link TextoN" (click)="mostrarMenu('home')"><mat-icon class="pt-1"> <span
              class="material-symbols-outlined"> house </span></mat-icon> Home</a>
        <a class="nav-link TextoN" (click)="mostrarMenu('sillas')"> <mat-icon class="pt-1"><span
              class="material-symbols-outlined"> event_seat </span></mat-icon> Sillas</a>


        <a class="nav-link TextoN" (click)="mostrarMenu('adornos')"><mat-icon class="pt-1"><span
              class="material-symbols-outlined">
              yard
            </span></mat-icon> Adornos</a>


        <a class="nav-link TextoN" (click)="mostrarMenu('inflables')"><mat-icon class="pt-1"><span
              class="material-symbols-outlined">
              mosque
            </span></mat-icon> Infables</a>


        <a class="nav-link TextoN" (click)="mostrarMenu('mesas')"><mat-icon class="pt-1"><span
              class="material-symbols-outlined">
              table_bar
            </span></mat-icon> Mesas</a>

            <!--  -->
            <a class="nav-link TextoN" (click)="mostrarMenu('Mapa')"><mat-icon class="pt-1"><span
              class="material-symbols-outlined">
              help_clinic
            </span></mat-icon>mapa del sitio</a>



        <a class="nav-link TextoN">
          <mat-icon class="pt-1" (click)="mostrarCarrito()" [matBadge]="total" aria-hidden="false"><span
              class="material-symbols-outlined">
              local_shipping
            </span></mat-icon>
        </a>


        <a class="nav-link TextoN">
          <mat-icon class="pt-1" mat-icon-button [matMenuTriggerFor]="menu" aria-hidden="false"><span
              class="material-symbols-sharp">
              account_circle
            </span></mat-icon>
        </a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="salir()">
            <mat-icon>logout</mat-icon>
            <span>salir</span>
          </button>
        </mat-menu>
      </mat-toolbar>
    </div>
  </div>
</div>
